var updated_name = $('.updated-wishlist-name').val()
var wishlist_name = $('.wishlist-naming').text(updated_name);
$('.active').html('<span class="fa fa-angle-right u-list__link-icon mr-1"></span>'+updated_name);
$('.wishlist-edit-section').toggle();
$('.wishlist-name').toggle();
